@charset "UTF-8";
body{
    font-family: 'Courier Prime', monospace;
    background-color: #FFFFCC;
    text-align: center;
}

header{
  display:inline;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow:4px 4px 2px #ff773e
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

p{
    text-align: center;
}

ul{
    list-style:none;
    text-align: right;
}

li{
    background-color:#ff773e;
    text-align: center;
    margin:10px 0px 10px 0px;
}

.content{
    text-align: center;
}

@import

.title{
    display: flex;
    overflow: hidden;
    color: black;
}

  .title span {
    display: block;
    transform: translate(0, 105%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  }
  
  .title.-visible span {
    transform: translate(0, 0);
  }
  
  .title span:nth-child(2) {
    transition-delay: 0.06s;
  }
  .title span:nth-child(3) {
    transition-delay: 0.12s;
  }
  .title span:nth-child(4) {
    transition-delay: 0.18s;
  }

nav{
    text-align: center;
}

nav ul{
    margin: 0 ;
    padding: 100px ;
    text-align: center;
}

nav li{
    list-style: none;
    display: inline-block;
    width: 10%;
    min-width: 90px;
}

nav li:not(:last-child){
    border-right:2px solid #ddd;
}

nav a{
    text-decoration: none;
    color: #333;
}

nav a.current{
    color: #00B0F0;
    border-bottom:2px solid #00B0F0;
}

nav a:hover{
    color:#F7CB4D;
    border-bottom:2px solid #F7CB4D;
}