@charset "UTF-8";
body{
    font-family: 'Courier Prime', monospace;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

ul{
    list-style:none;
}

li{
    background-color:#ff773e;
    text-align: center;
    margin:10px 0px 10px 0px;
}

.sidebar{
    float:left;
    width:20%;
}

.content{
    width:80%;
    text-align: center;
}